html {
  font-family: BaltimoreTypewriter;

  background-color: #11131d;
  color: white;
}

body {
  font-family: BaltimoreTypewriter;
}

input, label, textarea {
  display: block;
  padding: 5px;
}
#map-render-zone {
  height: 380px;
  width: 95%;
  margin: 0 auto;
}

